/*
 * Copyright 2018 Salsa Fuego, LLC
 */



/* Google Fonts */
.font-family-source-sans-pro {
	font-family: 'Source Sans Pro', sans-serif;
}
.font-family-bevan {
	font-family: 'Bevan', cursive;
}
.font-family-rye {
	font-family: 'Rye', cursive;
}



/* Navbar Styles */
.nav-item {
	font-family: 'Bevan', cursive;
	font-size: 1.125rem;
	letter-spacing: .05rem;
	-webkit-transition: font-size 0.4s ease-out;
	-moz-transition: font-size 0.4s ease-out;
	-o-transition: font-size 0.4s ease-out;
	transition: font-size 0.4s ease-out;
}
#nav-list {
	width: 100%;
}
#salsa-fuego-logo {
	margin: 0 auto;
	width: 140px;
}
	#salsa-fuego-logo img {
		display: block;
		height: auto;
		width: 100%;
	}
#sombrero-tio {
	height: 0;
	margin: 0 auto;
	padding: 0;
	-webkit-transition: width 0.4s ease-out, padding 0.4s ease-out;
	-moz-transition: width 0.4s ease-out, padding 0.4s ease-out;
	-o-transition: width 0.4s ease-out, padding 0.4s ease-out;
	transition: width 0.4s ease-out, padding 0.4s ease-out;
	visibility: hidden;
	width: 65px;
}
	#sombrero-tio img {
		display: block;
		height: auto;
		width: 100%;
	}



/* Torn Effect Styles */
.feature:nth-of-type(1) {
	background-color: rgb(197, 52, 47);
}
	.feature:nth-of-type(1) .torn-paper-background-image {
		background-image: url('http://via.placeholder.com/2500x1250/0000ff/ffffff');
	}
.feature:nth-of-type(2) {
	background-color: rgb(244, 123, 61);
}
	.feature:nth-of-type(2) .torn-paper-background-image {
		background-image: url('http://via.placeholder.com/2500x1250/f47b3d/ffffff');
	}
.feature:nth-of-type(3) {
	background-color: rgb(255, 198, 62);
}
	.feature:nth-of-type(3) .torn-paper-background-image {
		background-image: url('http://via.placeholder.com/2500x1250/ffc63e/ffffff');
	}
.feature:nth-of-type(4) {
	background-color: rgb(91, 157, 122);
}
	.feature:nth-of-type(4) .torn-paper-background-image {
		background-image: url('http://via.placeholder.com/2500x1250/5b9d7a/ffffff');
	}
.feature:nth-of-type(5) {
	background-color: rgb(197, 52, 47);
}
	.feature:nth-of-type(5) .torn-paper-background-image {
		background-image: url('http://via.placeholder.com/2500x1250/c5342f/ffffff');
	}
.torn-paper-background-image {
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
	width: 100%;
}
.torn-paper-effect {
	width: 100%;
}
.torn-paper-svg {
	width: 100%;
}
	.torn-paper-svg * {
		fill: #00ff00;
	}
.mrah:nth-child(2) {
	background-color: #ff0000;
}



/* Footer Styles */
footer > .container {
	background-color: rgb(224, 187, 127);
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  margin: 0 0 .5rem;
}
footer p {
	font-size: .75rem;
	margin: 0;
}



/* Spotlight Content Styles */
.spotlight-content {
	margin-bottom: 5rem;
}
.spotlight-content > .col-4 {
	overflow: scroll;
	padding: .5rem 1rem;
	vertical-align: middle;
}



/* Three Column Content Styles */
.three-column-content {
	/* STYLES GO HERE */
}



