// Google Fonts
$primary-font:    'Source Sans Pro', sans-serif;
$secondary-font:  'Bevan', cursive;
$tertiary-font:   'Rye', cursive;

// Colors
$salsa-fuego-black:         #231f20;
$salsa-fuego-blue-dark:     #0285bb;
$salsa-fuego-blue-light:    #75c0ea;
$salsa-fuego-gray-dark:     #333132;
$salsa-fuego-gray-light:    #6c757d;
$salsa-fuego-green-dark:    #007660;
$salsa-fuego-green-light:   #5b9d7a;
$salsa-fuego-orange-dark:   #d96931;
$salsa-fuego-orange-light:  #f47b3d;
$salsa-fuego-purple-dark:   #76499d;
$salsa-fuego-purple-light:  #a288bf;
$salsa-fuego-red-dark:      #b23028;
$salsa-fuego-red-light:     #c5342f;
$salsa-fuego-tan:           #e0bb7f;
$salsa-fuego-white:         #fffef9;
$salsa-fuego-yellow-dark:   #e0b03c;
$salsa-fuego-yellow-light:  #ffc63e;
