// Custom variables
@import "variables";



// Global Styles
.full-width {
	width: 100%;
}



// Navbar Styles
.nav-item {
	font-family: $secondary-font;
	font-size: 1.25rem;
	letter-spacing: .05rem;
}



// Torn Effect Styles
.torn-paper-effect {
	width: 100%;
}
.torn-paper-svg {
	width: 100%;
}



// Footer Styles
footer {
	background-color: $salsa-fuego-tan;
}

footer {
	h1, h2, h3, h4, h5, h6 {
		margin: 0 0 .5rem;
	}
	p {
		font-size: .75rem;
		margin: 0;
	}
}
